{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}
{% block loginactive %} active {% endblock loginactive %}

{% block css %}
body{
  background: linear-gradient(0deg, rgba(0,168,150,1) 0%, rgba(2,147,151,1) 66%, rgba(5,102,154,1) 96%);
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
{% endblock %}
{% block body %}


<div class="d-flex justify-content-center authentication-contianer align-items-center">
    <div class='authentication-card py-4 px-2'>
      <h1 class='text-white text-center'>Reset Password</h1>
      <form action="/change_pass/" method="POST"> {% csrf_token %}
        <div class="container mt-3">
          <div class="mb-3">
            <label for="username" class="form-label text-white">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password1" class="form-label text-white">New Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
          </div>
          <div class="mb-3">
            <label for="password2" class="form-label text-white">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2">
            <button type="submit" class="btn purple-btn mt-2">Confirm</button>
          </div>
<!--          <a class="text-cream" href='#'>Forgot Password?</a>-->
      </div>
      </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    {% if alert %}
    alert('Passwords are not same');
    document.location = '';
    {% endif %}
    {% if alert_u %}
    alert('User does not exist');
    document.location = '';
    {% endif %}
</script>
{% endblock %}
