{% extends 'base.html' %}
{% block title %} Show User Accounts {% endblock %}

{% block body %}
<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
<!--        <th>Phone No</th>-->
<!--        <th>Facebook</th>-->
        <th>Delete</th>
      </tr>
    </thead>
    {% for user in users %}
    <tr>
      <td>{{user.username}}</td>
<!--      <td>{{user.phone_no}}</td>-->
<!--      <td>{{user.facebook}}</td>-->
      <td><a href="/delete_user/{{user.username}}/" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}